<?xml version="1.0"?>
<launch>
    <node name="usb_cam_z" pkg="usb_cam" type="usb_cam_node" required="true"  output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <rosparam file="/home/gdp31/.ros/camera_info/z_camera.yaml"/>
    <param name="io_method" value="mmap"/>
   </node>
<!--<node name="image_view_side" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam_z/image_raw"/>
    <param name="autosize" value="true" />
</node> -->
<node pkg ="rosserial_arduino" type="serial_node.py" name="Delta_Arduino" args="/dev/ttyACM1 _baud:=115200"/>
   <arg name="node_start_delay" default="3.0" />  

   <node pkg="delta_coords" type="delta_coords_req_side.py" name="red_side" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
   </node>
<node pkg="delta_coords" type="delta_coords_req.py" name="red_rear" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
   </node>  
   
	<node pkg="delta_coords" type="delta_demo.py" name="main_server" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
   </node>

	<arg name="input" default="csi://0"/>
	<arg name="input_width" default="640"/>
	<arg name="input_height" default="480"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>

	<node pkg="ros_deep_learning" type="video_source" name="video_source" output="screen">
		<param name="resource" value="$(arg input)"/>
		<param name="width" value="640"/>
		<param name="height" value="480"/>
		<param name="loop" value="$(arg input_loop)"/>
	</node>

</launch>
